{%extends 'base.html'%}

{%block content%}

<div class = 'container'> 
  <center>
  <h1>My cart </h1>
</center>
<br> <br> <br><br>

   <img src="static/images/cart.png" align="left" style="height: 100px; width: auto; display: block; margin: auto; ">
   <h5>Yor cart</h5>
   <p>{{cart.date_now}}</p>
   <br><br>
   
   <div class="d-flex flex-row" >
    <div class="p-2 bg-info">deliver to</div>
    <div class="p-2 bg-info"><input type="text" required placeholder="address" maxlength="800"></div>
  </div> 

<table class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>Quantity</th>
        <th>Price </th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
     {% for  product in cart %}
      <tr>
        <td>{{product.product.name}}</td>
        <td><input type="number" max=100 min=1 value={{product.quantity}}></td>
        <td>{{product.product.price}}</td>
        <td><a href="{{product.product.delete}}" class="btn btn-sm btn-outline-secondary mr-sm-2" role="button">X</a></td>
      </tr>
    
     {% endfor %}
    </tbody>
    <tfoot>
      <tr>
      <td>Total Summa</td>
      <td>{{cart.total_summa}} $  ({{cart.total_quantyti}}items)</td>
      <td></td>
      <td> 
        <button type="submit" class="btn btn-primary">Place Order</button>
      </td>
      </tr>
      <tr>
        <td>credit or debet card:</td>
        <td>Expiry date</td>
        <td>Security code</td>
      </tr>
      <tr>
        <td><input type="text" required placeholder="input card number"></td>

        <td><input type="text" required placeholder="mm/yyyy "></td>
        <td><input type="numeric", required placeholder = "cvv"></td>
        <td>    
          <button type="submit" class="btn btn-primary">Submit Payment</button>
        </td>
      </tr>
    </tfoot>
</table>

{%endblock%}



 









     