{% extends 'base.html' %}

{% block content %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <div style="margin-bottom: 10px; margin-top:30px;">
        {% if form.email.errors %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> {{form.email.errors}}
        </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}

            <div class="input-group mb-3">

                <input type="email" style="margin-top:100px;" name="email" class="form-control" placeholder="Email"
                       aria-label="email"
                       aria-describedby="basic-addon1">
            </div>

            <center>
                <button type="submit" class="btn btn-primary">Confirm email</button>
            </center>
        </form>
    </div>
</div>
{% endblock %}
