{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .banner {
        background-image: url("/images/banner.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .carousel-inner img {
      display: block;
      margin-left: auto;
      margin-right: auto
    }
</style>

<!-- Какой-то баннер -->

<div class="banner text-center">
    <br>
    <br>
    <h2 class="display-2 text-muted">The true italian</h2>
    <a role="button" href="#" class="btn btn-danger btn-lg"><h2>ORDER NOW</h2></a>
    <br>
    <br>
</div>

<!-- Карусель с фотками -->

<div class="bg-light">
  <br>
  <h2 class="text-center font-weight-light">Our offerings</h2>
  <br>

  <!-- The slideshow -->
<div id="carousel-1" class="carousel slide multi-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-1" data-slide-to="1"></li>
    <li data-target="#carousel-1" data-slide-to="2"></li>
    <li data-target="#carousel-1" data-slide-to="3"></li>
    <li data-target="#carousel-1" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="item-third"><img src="https://images.pexels.com/photos/845794/pexels-photo-845794.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" width="500" height="300" alt="1 slide"></div>
    </div>
    <div class="carousel-item">
      <div class="item-third"><img src="https://images.pexels.com/photos/845812/pexels-photo-845812.jpeg?auto=compress&cs=tinysrgb&w=600" width="500" height="300" alt="2 slide"></div>
    </div>
    <div class="carousel-item">
      <div class="item-third"><img src="https://images.pexels.com/photos/3762075/pexels-photo-3762075.jpeg?auto=compress&cs=tinysrgb&w=600" width="500" height="300" alt="3 slide"></div>
    </div>
    <div class="carousel-item">
      <div class="item-third"><img src="https://images.pexels.com/photos/1788852/pexels-photo-1788852.jpeg?auto=compress&cs=tinysrgb&w=600" width="500" height="300" alt="4 slide"></div>
    </div>
    <div class="carousel-item">
      <div class="item-third"><img src="https://images.pexels.com/photos/2909822/pexels-photo-2909822.jpeg?auto=compress&cs=tinysrgb&w=600" width="500" height="300" alt="5 slide"></div>
    </div>
  </div>
</div>

<!--    Potentially, menu will be here(some models needed) -->
<div class="jumbotron text-center">
  <h1>Our menu</h1>
  <p>TO DO, see ya later</p>
</div>

<!-- Вопрос-ответ, надо дополнить -->

<div class="bg-dark">
    <br>
    <h2 class="text-light text-center display-4">FAQ</h2>
    <div class="row">
        <h3 class="text-light col text-center font-weight-light">What's Regular Pizza?</h3>
        <button class="text-light col text-center font-weight-light btn btn-dark" data-toggle="collapse" data-target="#regular_pizza">▼</button>
    </div>
    <div class="container collapse" id="regular_pizza">
        <h5 class="text-light text-center font-weight-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit ex, semper nec mi non, blandit varius erat. Nulla facilisis.
        </h5>
    </div>
    <br>
    <div class="row">
        <h3 class="text-light col text-center font-weight-light">What's Sicilian Pizza?</h3>
        <button class="text-light col text-center font-weight-light btn btn-dark" data-toggle="collapse" data-target="#sicilian_pizza">▼</button>
    </div>
    <div class="container collapse" id="sicilian_pizza">
        <h5 class="text-light text-center font-weight-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit ex, semper nec mi non, blandit varius erat. Nulla facilisis.
        </h5>
    </div>
    <br>

<!--    Of course, you can add more info-->
</div>

<div class="bg-primary">
    <a href="#" class="btn btn-primary btn-block btn-lg mx-auto">
        <br>
        <br>
        <div class="container-fluid">
            <h1><img src="static/images/phone-svgrepo-com-white.svg" style="width: 70px; height: 70px">Call us now 999-999-999</h1>
        </div>
        <br>
        <br>
    </a>
</div>
{% endblock %}

