* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.order-title {
	text-align: center;
	margin-bottom: 10px;
}

.choise_list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	list-style: none;
	margin-bottom: 5px;
}

.choise_list-item {
	border-bottom: 1px solid transparent;
}

.choise_list-item:hover {
	border-bottom: 1px solid blue;
}

.choise-button {
	color: rgba(73, 73, 73, 0.6);
	background-color: transparent;
	border:none;
	text-transform: uppercase;
	cursor: pointer;
}

.underline {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(73, 73, 73, 0.3);
	margin-bottom: 10px;
}

.order_form {
	display: flex;
	flex-direction: column;
}

.order_form-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.checkbox_block {
	display: flex;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 10px;
}

.checkbox_block-elem {
	display: flex;
	max-width: 15%;
	margin-right: 15px;
}

.checkbox-text {
	padding-left: 3px;
	align-self: center;
	text-transform: capitalize;
}

.active {
	border-bottom: 1px solid blue;
}

.buttom-order {
	align-self: flex-end;
	background-color: #16A8F7;
	color: #fff;
	border: none;
	border-radius: 5px;
	width: 25%;
	height: 25px;
	text-transform: uppercase;
}