{% extends 'base.html' %} 
{% block content %}
<center style="margin-top:20px; margin-bottom:20px;">
	<h4>My Cart</h4>
</center>
<div class="container">
	<div class="shadow p-3 mb-5 bg-body rounded">
		<p>
			<h5>Your Cart</h5>
		</p>
		<p>
			<h6>July 22, 2022, 3.59 a.m.</h6>
		</p>
		<!--        <p><img src="https://thumbs.dreamstime.com/b/shop-cart-icon-buy-symbol-shopping-basket-sign-%C3%A2%E2%82%AC-stock-143519011.jpg" style="height: 120px; width:20%; display: block;" class="card-img-top" alt="..."></p>--><i class="fa fa-shopping-cart" style="font-size:48px;"></i>
		<hr>
		<p><b><h5>Deliver to</h5></b>
			<!--        Text field for address-->
			<form action="" method="post"> {% csrf_token %}
				<div class="col-auto"> <input type="text" id="address" class="form-control"> </div>
		</p>
		<hr>
		<table class="table">
			<!--            table of items-->
			<thead>
				<tr>
					<th scope="col">Item name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col">Remove</th>
				</tr>
			</thead>
			<tbody>
				<!--    cycle 'for' with items should be here-->
				<tr>
					<td>Small Regular pizza</td>
					<td>1</td>
					<td>$13.20</td>
					<!--        Ref for deleting items should be here-->
					<td><a href="#"><i class="fa fa-trash-o" style="font-size:36px; color:red;"></i></a></td>
				</tr>
			</tbody>
		</table> <b><h5>Total price: $13.20</h5></b>
		<!--        Ordering should be added here--><a href="#" type="button" class="btn btn-dark">Place Order</a> </div>
	</form>
</div>
</div> 
{% endblock %}