<form action="/add-new-address/" class="container" method="post">
    <div class="d-flex pt-2">
        <div class="w-100">
            <div>
                Country
            </div> 
            <input type="text" 
                   name = "Country"
                   class="form-control" 
                   placeholder=""/>
        </div>
    </div>
    <div class="d-flex pt-2">
        <div class="w-100">
            <div>
                City
            </div> 
            <input type="text" 
                   name = "City"
                   class="form-control" 
                   placeholder=""/>
        </div>
    </div>
    <div class="d-flex pt-2">
        <div class="w-100">
            <div>
                Street
            </div> 
            <input type="text" 
                   name = "Street"
                   class="form-control" 
                   placeholder=""/>
        </div>
    </div>
    <div class="d-flex pt-2">
        <div class="w-100">
            <div>
                Нouse №
            </div> 
            <input type="text" 
                   name = "Нouse №"
                   class="form-control" 
                   placeholder=""/>
        </div>
    </div>
    <div class="d-flex pt-2">
        <div class="w-100">
            <div>
                Apartment №
            </div> 
            <input type="text" 
                   name = "Apartment №"
                   class="form-control" 
                   placeholder=""/>
        </div>
    </div>
    <div class="d-flex pt-2">
        <button type="submit" class="btn btn-block btn-secondary">
            <span class="text-light">ОТПРАВИТЬ</span>
        </button>
    </div>
</form>