{% extends 'base.html' %}

{% block content %}

<form action="#" method="POST" enctype="multipart/form-data">
    <div class="text-center">
        <h1 style="height:20px; width:1000px; margin-left: 300px; margin-bottom: 35px; margin-top: 60px;"> Shipping Addresses </h1>
        <h4 style="width: 1620px; margin-left: 0px; text-align: center; margin-bottom: 40px;"> The following shipping addresses are associated with your account </h4>
        <p style="font-size: 17px; height: 15px; margin-right: 500px;"> ADDRESS </p>
        <hr style="background:rgb(75, 9, 9); height:3px; width:900px; margin-left: 350px;">
        <p style="font-size: 17px; height: 15px; margin-right: 520px;"><b>Home</b></p>
        <p style="margin-left: 300px; width: 600px;"><input type='radio' name="radio" value="" style="margin-right: 50px; width: 10px;">12, fewf, Warisaliganj 805130, BR</p>
        <p ><a href="#" type="submit" class="btn btn-dark">ADD ADDRESS</a><a href="#" type="submit" class="btn btn-danger" style="width : 100px; margin-left: 10px;">REMOVE</a></p>
    </div>
</form>

{% endblock  %}